facenet-pytorch==2.5.2
fvcore==0.1.5.post20211023
wandb
rtpt
opencv-python
pandas
pytorch-fid==0.2.1
scikit-learn
yapf
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
timm==0.6.13
torchmetrics==1.2.0
jupyter==1.0.0
seaborn==0.13.1